/Lab02_Socket/nbproject/private/
/Lab02_Socket/build/
/Lab03_SocketWithTCP/nbproject/private/
/Lab03_SocketWithTCP/build/
/Lab04_SocketWithUDP/nbproject/private/
/Lab04_SocketWithUDP/build/
/Lab05_RMI/nbproject/private/
/XinchaoClient/nbproject/private/
/CalculaterServerRMI/nbproject/private/
/CalculaterServerRMI/build/
/CalculatorCientRMI/nbproject/private/
/ServerSum/nbproject/private/
/HaNoiRMI/nbproject/private/
/ServerRMI/nbproject/private/
/ServerRMI/build/
/bai_6_7/nbproject/private/
/bai_6_7/build/
/bai_6_7_Client/nbproject/private/
/bai_6_7_Client/build/
/bai_6_8_Server_RMI/nbproject/private/
/bai_6_8_Client/nbproject/private/
/bai_6_8_Server_RMI/build/